In [ ]:
#type casting
s="10"
n=int(s)
print(n)
c=3
f=float(c)
print(f)
d=25
h=str(d)
print(h)

In [ ]:
#variable
x=8
print(x)
name="vish"
print(name)

#same value to multiple var
a= b= c =100
print(a,b,c)
#assigning diff values
a,b,c= "python" , 12 ,8.0
print(a,b,c)

In [ ]:
#getting type of variable
n=45
m=4.9
r=("thurth","uyith")
h=["thruhe","okrii"]
d={"hfhuh":1,"frjr":8}
b=True
print(type(n))
print(type(m))
print(type(r))
print(type(h))
print(type(d))
print(type(b))

In [ ]:
#Local variable
def f():
    x="i am local"
    print(x)
f()
#print(x)

In [ ]:
#Global variable
a= "i am global"
def fuc():
    global a
    a="i am local"
    print(a)
fuc()
print(a)

In [ ]:
#deleting a variable
x=89
print(x)

del x

In [ ]:
#swapping 2 var
a,b=12,8
a,b =b,a
print(a,b)

In [ ]:
#counting the lenght
name="python"
length=len(name)
print("lenght  of the word",length)

In [ ]:
a=[10,20,30,40,50]
for i in a:
    a.remove(i)
    print(a)

In [ ]:
#Data types 
#numeric type : int ,float, complex
#seqence type:string,tuple,set,list
#mapped type: dic
#bool:bool
#set type:set ,fronzenset
#byte:byte,bytearray,
#eg
a=45
b=4.5
c= i+0j
print(type(a))
print(type(b))
print(type(c))

In [ ]:
a="1"
a=int(a)
b="1"
b=int(b)
print(a+b)

In [ ]:
#seq data type
str="hello i am vishakha"
#len=len(str)
#print(len)
print(type(str))
print(str[0])
print(str[-7])

In [ ]:
#list
a=[]

a=[1,2,3,4,"banana",2.5]
print(type(a))
print(a[-2])

In [ ]:
#tuple
tup1=()
tup2=('greek','for','greeks')
print(tup2)
tup3=tuple([1,2,3,5])
print(tup3[-1])

In [ ]:
#set'
s=set()
b=set("greekfor greeks")
print(type(b))
c=set(["greek","for","greeks"])
print(c)

In [ ]:
set1 = set(["Geeks", "For", "Geeks"])
print(set1)

# loop through set
for i in set1:
    print(i, end=" ")
    
# check if item exist in set    
print("for" in set1)

In [ ]:
#conditional statement
x=10
if x>6:
    print("x is greater than to 6")

In [ ]:
#if else
a=10
b=18
if a<b:
    print("a is less")
else:
    print("b is greater")

In [ ]:
#elif
age=25
if age<=12:
    print("chiled")
elif age<=19:
    print("teenager")
elif age>=60:
    print("not adult")
elif age<=35:
    print("u are young adult")
else:
    print("eligible for voting")

In [3]:
# input function in python
a=input("enter the number")
print(a)

In [ ]:
#type casting :
a= 1
a=float(a)
print(a)
b="67"
print(a+int(b))
#implicit type casting
a=10
b=23.5
d=a+b
print(d)
print(type(d))
#explicitcasting
int_num="102"
str_num=str(int_num)
print(type(str_num))